<h1>Listing grants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Totalawardamount</th>
      <th>Fundingagencyname</th>
      <th>Awardnumber</th>
      <th>Fundingagencyurl</th>
      <th>Fundingagencylogourl</th>
      <th>Fundingagencygranturl</th>
      <th>Programname</th>
      <th>Programurl</th>
      <th>Miscattributes</th>
      <th>Research area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grants.each do |grant| %>
      <tr>
        <td><%= grant.name %></td>
        <td><%= grant.description %></td>
        <td><%= grant.url %></td>
        <td><%= grant.startdate %></td>
        <td><%= grant.enddate %></td>
        <td><%= grant.totalawardamount %></td>
        <td><%= grant.fundingagencyname %></td>
        <td><%= grant.awardnumber %></td>
        <td><%= grant.fundingagencyurl %></td>
        <td><%= grant.fundingagencylogourl %></td>
        <td><%= grant.fundingagencygranturl %></td>
        <td><%= grant.programname %></td>
        <td><%= grant.programurl %></td>
        <td><%= grant.miscattributes %></td>
        <td><%= grant.research_area %></td>
        <td><%= link_to 'Show', grant %></td>
        <td><%= link_to 'Edit', edit_grant_path(grant) %></td>
        <td><%= link_to 'Destroy', grant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grant', new_grant_path %>
